<script src="{{site.baseurl}}/static/node_modules/jquery/dist/jquery.min.js"></script>
<script src="{{site.baseurl}}/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/static/node_modules/firebase/firebase-app.js"></script>
<script src="{{site.baseurl}}/static/node_modules/firebase/firebase-database.js"></script>
<script src="{{site.baseurl}}/static/node_modules/firebase/firebase-auth.js"></script>
<script src="{{site.baseurl}}/static/js/gradeMyWork.js"></script>
<script src="{{site.baseurl}}/static/js/nav.js"></script>